
@{
    ViewBag.Title = "Employee List";
}

<h2>Employee CRUD Operation</h2>
<table id="employeeTable" class="display">
    <thead>
        <tr>
            <th>EmployeeID</th>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Contact</th>
            <th>Address</th>
            <th>Salary</th>
        </tr>
    </thead>

</table>



<link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet"/>
<link href="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js" rel="stylesheet"/>

@section scripts{
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js" ></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    
    <script>
        $(document).ready(function () {

            $('#employeeTable').DataTable({
                "ajax": {
                    "url": "/Employee/GetData",
                    "type": "GET",
                    "datatype":"json"
                },
                "columns": [
                    { "data": "Name" },
                    { "data": "Position" },
                    { "data": "Office" },
                    { "data": "Age" },
                    { "data": "Contact" },
                    { "data": "Salary" }
                ]
            })

        });
        
    </script>
    }