
@{
    ViewBag.Title = "Employee List";
}

<h2>Employee CRUD Operation</h2>
<table id="employeeTable">
    <thead>
        <tr>
            <th>EmployeeID</th>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Contact</th>
            <th>Address</th>
            <th>Salary</th>
        </tr>
    </thead>

</table>

